ul
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap

  li
    background: rgb(238, 238, 238)
    padding: 1em
    margin-right: 10px
    width: 20%
    height: 200px
    margin-bottom: 1em
    display: flex
    flex-direction: column

    p
      margin: 0

    p.name
      font-weight: bold
      font-size: 1.2rem;

    p.country
      text-transform: uppercase
      font-size: .9rem
      flex-grow: 1%

jw-modal
  display: none

.jw-modal 
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1000 
  overflow: auto

.jw-modal-body
  padding: 20px
  background: #fff
  margin: 40px

.jw-modal-background
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: #000
  opacity: 0.75   
  z-index: 900

body.jw-modal-open
  overflow: hidden;

.custom-list
  box-shadow: 2px 2px grey
  margin: 10px
  padding-bottom: 20px
  margin-bottom: 32px
  background-color: #4E4E50
    
.custom-list-img
  height: 10em
  width: 16em
  margin-top: 10px

.custom-h3
  text-align:l eft
  margin-top: 20px
  font-family: 'Open Sans', sans-serif
  font-size: 18px
  margin-right: 0
  margin-left: 24px
  line-height: 34px
  letter-spacing: 0px
  font-style: normal
  font-weight: bold

.custom-text
  text-align: left
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  line-height: 22px
  color: rgb(9,9,10)
  margin-left: 24px