<div *ngFor="let user of users" class="col-md-3 cust_blogteaser custom-list">
  <a href="#">
    <img class="custom-list-img center-block img-fluid" [src]="user.imgPath | safeHtml"></a>
  <h3 class="custom-h3">
    {{user.name | uppercase }}<br></h3>
  <p class="text-secondary custom-text">
    GeboorteDatum: {{user.dob}}</p>
  <p class="text-secondary custom-text">
    Postcode: {{user.postal}}</p>
    <a class="h4" href="#">
      <i (click)="openModal('custom-modal-1', user.id)" class="fa fa-edit" style="margin-left:23px;"></i>
      <i (click)="deleteUser(user.id)" class="fa fa-trash" style="margin-left:23px;"></i>
    </a>
</div>


<jw-modal id="custom-modal-1">
  <h1>Edit User</h1>
  <input type="text" [(ngModel)]="name" placeholder="Name">
  <input type="text" [(ngModel)]="dob" placeholder="Dob">
  <input type="text" [(ngModel)]="postal" placeholder="Postal">
  <input type="text" >
  <button class="btn btn-primary" (click)="editUser(id, name, dob, postal)">Edit</button>
  <button class="btn btn-danger" (click)="closeModal('custom-modal-1')">Close</button>
</jw-modal>